<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>vet page</title>
</head>
<body>
    <h1 th:text="'vet page'">vet page</h1>
    <table style="border: 1px solid black;">
        <thead>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>family</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
            <td style="border: 1px solid black;" th:text="${vet.id}">1</td>
            <td style="border: 1px solid black;" th:text="${vet.firstName}">hosseinam</td>
            <td style="border: 1px solid black;" th:text="${vet.lastName}">hosseinam</td>
        </tr>
        </tbody>
    </table>
</body>
</html>